.example {
  position: sticky;
}

/* Compiler Test: */

*,
*::before,
*::after {
  box-sizing: border-box;
}

.example {
  position: sticky;
}

/* should output: 
.example {
  position: -webkit-sticky;
  position: sticky;
} */

body {
  /* font-family: "PT Sans Narrow", sans-serif; */
  /* font-family: "Sue Ellen Francisco", cursive; */
}
