<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=PT+Sans+Narrow:wght@400;700&family=Sue+Ellen+Francisco&display=swap" rel="stylesheet" />

<!-- 
font-family: 'PT Sans Narrow', sans-serif;
font-family: 'Sue Ellen Francisco', cursive;
-->
